.coverFrameChild,
.coverFrameItem {
  position: absolute;
  top: 0;
  height: 960px;
}
.coverFrameChild {
  left: 0;
  background-color: #eaeaea;
  width: 1920px;
}
.coverFrameItem {
  left: 297.9px;
  width: 1302.1px;
  object-fit: cover;
}
.coverFrameInner {
  position: absolute;
  height: 7.2%;
  width: 22.92%;
  top: 44.34%;
  right: 3.36%;
  bottom: 48.46%;
  left: 73.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.madeByTeam {
  position: absolute;
  top: 875.25px;
  left: 1173.29px;
  font-size: 20px;
  color: #99d2f5;
}
.travelWebsite {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.travelWebsiteWrapper {
  position: absolute;
  top: 827.38px;
  left: 1173.29px;
  width: 224px;
  height: 40px;
}
.cceroFeijoCo {
  position: absolute;
  top: 495px;
  left: 1180px;
  font-weight: 500;
}
.coverFrame {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 960px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--primary-contrast);
  font-family: var(--font-roboto);
}
