.coverFrameChild,
.coverFrameItem {
  position: absolute;
  top: 0;
  height: 960px;
}
.coverFrameChild {
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 1920px;
}
.coverFrameItem {
  left: 297.9px;
  width: 1302.1px;
  object-fit: cover;
}
.coverFrameInner {
  position: absolute;
  height: 7.2%;
  width: 22.92%;
  top: 44.34%;
  right: 3.36%;
  bottom: 48.46%;
  left: 73.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.madeByTeam {
  position: absolute;
  top: 875.25px;
  left: 1173.29px;
  color: #99d2f5;
}
.travelWebsite {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.travelWebsiteWrapper {
  position: absolute;
  top: 827.38px;
  left: 1173.29px;
  width: 224px;
  height: 40px;
  font-size: 34px;
}
.fickleflightLogoIcon {
  position: relative;
  width: 130.07px;
  height: 24.67px;
  overflow: hidden;
  flex-shrink: 0;
}
.explore,
.hotels,
.offers,
.search {
  position: relative;
  font-size: 10.47px;
  font-family: var(--font-roboto);
  text-align: left;
  display: inline-block;
  height: 11.96px;
  flex-shrink: 0;
}
.explore {
  color: #1262af;
  width: 35.13px;
}
.hotels,
.offers,
.search {
  color: var(--color-darkslategray-100);
  width: 32.14px;
}
.hotels,
.offers {
  width: 30.65px;
}
.offers {
  width: 29.15px;
}
.navigationMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 22.43px;
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 17.94px;
  height: 17.94px;
  overflow: hidden;
  flex-shrink: 0;
}
.unsplashd1upkifd04aIcon {
  border-radius: 28.41px;
  width: 26.91px;
  height: 26.91px;
  object-fit: cover;
}
.accountSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8.97px;
}
.navigationRight {
  justify-content: flex-end;
  gap: 26.91px;
}
.navigationRight,
.topContainer,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainer {
  flex: 1;
  justify-content: space-between;
}
.topHeader {
  align-self: stretch;
  background-color: var(--primary-contrast);
  height: 57.56px;
  padding: 16.445871353149414px 59.803165435791016px;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
}
.bannerBackground,
.bannerGradient {
  position: absolute;
  width: calc(100% + 0.01px);
  right: -0.01px;
  left: 0;
}
.bannerGradient {
  top: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
  height: 478.36px;
}
.bannerBackground {
  top: 0.3px;
  max-width: 100%;
  overflow: hidden;
  height: 478.43px;
  object-fit: cover;
}
.findTheBest,
.letsExplore {
  align-self: stretch;
  position: relative;
  font-size: 45.6px;
  line-height: 50.09px;
  font-family: var(--font-baloo-bhai);
  color: var(--primary-contrast);
  text-align: center;
}
.findTheBest {
  font-size: 17.94px;
  line-height: 23.92px;
  font-family: var(--font-roboto);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.74px;
}
.departureField,
.title {
  align-self: stretch;
}
.inputGroup {
  flex: 1;
  flex-direction: column;
  padding: 3.7376978397369385px;
  justify-content: center;
}
.arrival,
.inputGroup,
.labelContainer {
  display: flex;
  align-items: center;
}
.arrival {
  position: relative;
  font-size: 8.97px;
  letter-spacing: 0.11px;
  line-height: 8.97px;
  font-family: var(--font-roboto);
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  width: 26.16px;
  height: 8.97px;
  flex-shrink: 0;
}
.labelContainer {
  background-color: var(--primary-contrast);
  height: 1.5px;
  flex-direction: row;
  padding: 0 2.9901583194732666px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: 8.97px;
  letter-spacing: 0.3px;
  line-height: 166%;
  font-family: var(--font-roboto);
  color: var(--color-dimgray);
  text-align: center;
  display: flex;
}
.avatar {
  border-radius: 47.84px;
  background-color: var(--color-silver);
  width: 17.94px;
  height: 17.94px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip1 {
  position: relative;
  font-size: 9.72px;
  letter-spacing: 0.12px;
  line-height: 13.46px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.container,
.typography {
  display: flex;
  flex-direction: column;
  padding: 2.2426187992095947px 4.4852375984191895px;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  border-radius: 11.96px;
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  padding: 2.9901583194732666px;
  align-items: center;
}
.chip,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: 5.98px;
}
.losAngelesLa {
  flex: 1;
  position: relative;
  font-size: 11.96px;
  letter-spacing: 0.11px;
  line-height: 17.94px;
  font-family: var(--font-roboto);
  color: var(--color-gray-200);
  text-align: left;
}
.active,
.input {
  align-self: stretch;
}
.active {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 11.213094711303711px 0;
  align-items: center;
  justify-content: flex-start;
  gap: 5.98px;
}
.input {
  border-radius: 2.99px;
  border: 0.7px solid rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  height: 41.86px;
  flex-direction: column;
  padding: 0 8.970474243164062px;
}
.arrivalField,
.input,
.inputsRow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrivalField {
  align-self: stretch;
  height: 41.86px;
  flex-direction: column;
}
.inputsRow {
  flex: 1;
  flex-direction: row;
}
.button {
  position: relative;
  font-size: 11.21px;
  letter-spacing: 0.34px;
  line-height: 19.44px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: center;
  display: inline-block;
  width: 109.87px;
}
.buttonGroup,
.searchFlightsButton,
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchFlightsButton {
  border-radius: 2.99px;
  width: 122.6px;
  height: 41.86px;
  overflow: hidden;
  flex-shrink: 0;
  transition: 0.3s;
}
.searchFlightsButton,
.searchFlightsButton:hover {
  background-color: var(--color-orange);
}
.buttonGroup,
.searchForm {
  padding: 3.7376978397369385px;
}
.searchForm {
  align-self: stretch;
  border-radius: 7.48px;
  background-color: var(--primary-contrast);
  flex-direction: row;
  padding: 14.950791358947754px;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 478.43px;
  display: flex;
  flex-direction: column;
  padding: 0 104.6555404663086px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 32.14px;
}
.searchSection {
  align-self: stretch;
  position: relative;
  height: 478.43px;
  display: none;
}
.heroSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sin,
.singapore,
.upcomingFlight {
  letter-spacing: 0.04em;
  display: inline-block;
  font-family: var(--font-roboto);
  text-align: left;
}
.upcomingFlight {
  position: relative;
  font-size: 13.46px;
  text-transform: uppercase;
  color: #303030;
  width: 947.92px;
}
.sin,
.singapore {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 17.94px;
  text-transform: capitalize;
  color: var(--color-cornflowerblue-200);
  width: 33.44px;
  height: 20.93px;
}
.singapore {
  top: 22.43px;
  font-size: 10.47px;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 53.82px;
  height: 11.96px;
}
.fromDetails {
  position: relative;
  width: 53.82px;
  height: 34.39px;
}
.h55m {
  position: absolute;
  top: 20.99px;
  left: 17.71px;
  font-size: 10.47px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: left;
  width: 49.08px;
  height: 11.96px;
}
.durationChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 87.72px;
  height: 17.94px;
}
.duration {
  position: relative;
  width: 87.72px;
  height: 32.96px;
}
.lax,
.losAngeles {
  position: absolute;
  top: 0;
  left: 26.91px;
  font-size: 17.94px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-200);
  text-align: right;
  width: 38.33px;
  height: 20.93px;
}
.losAngeles {
  top: 22.43px;
  left: 0;
  font-size: 10.47px;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  width: 65.24px;
  height: 11.96px;
}
.toDetails {
  position: relative;
  width: 65.24px;
  height: 34.39px;
}
.toAndFrom {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.horizontalLine {
  align-self: stretch;
  position: relative;
  border-top: 0.7px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 0.75px;
}
.departsOn1 {
  position: relative;
  font-size: 10.47px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 152.42px;
  flex-shrink: 0;
}
.days,
.departsOn1 {
  font-family: var(--font-roboto);
}
.daysToGoContainer {
  position: relative;
  font-size: 10.47px;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
  text-align: right;
  display: inline-block;
  width: 65.21px;
  flex-shrink: 0;
}
.flightMainContainer {
  border-radius: 5.98px;
  border: 0.7px solid var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  padding: 14.950791358947754px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.7px;
}
.lineSeparator {
  position: relative;
  border-right: 0.7px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 0.75px;
  height: 109.13px;
}
.prepareForYour {
  align-self: stretch;
  position: relative;
  font-size: 13.46px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  color: #cecece;
  text-align: left;
}
.hotel1,
.hotelChild {
  position: relative;
  width: 48.88px;
  height: 48.88px;
}
.hotel1 {
  font-size: 11.21px;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 29.15px;
  height: 13.46px;
  flex-shrink: 0;
}
.hotel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.98px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #ff9b53;
  width: 48.88px;
  height: 48.88px;
}
.groupIcon {
  position: absolute;
  height: 47.93%;
  width: 48.38%;
  top: 26.04%;
  right: 25.81%;
  bottom: 26.03%;
  left: 25.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attractions1,
.eats1 {
  position: relative;
  font-size: 11.21px;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 59.8px;
  height: 13.46px;
  flex-shrink: 0;
}
.eats1 {
  width: 23.92px;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #fdbf00;
  width: 48.88px;
  height: 48.88px;
}
.vectorIcon {
  position: absolute;
  height: 48.43%;
  width: 41.17%;
  top: 26.51%;
  right: 29.42%;
  bottom: 25.06%;
  left: 29.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.commute1 {
  position: relative;
  font-size: 11.21px;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 52.33px;
  height: 13.46px;
  flex-shrink: 0;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #4dabff;
  width: 52.33px;
  height: 48.88px;
}
.vectorIcon1 {
  position: absolute;
  height: 40.15%;
  width: 40.52%;
  top: 29.63%;
  right: 29.74%;
  bottom: 30.22%;
  left: 29.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleContainer {
  position: relative;
  width: 52.33px;
  height: 48.88px;
}
.taxi1 {
  position: relative;
  font-size: 11.21px;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 24.01px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 11.96px;
  background-color: #79ca00;
  width: 48.88px;
  height: 48.88px;
}
.vectorIcon2 {
  position: absolute;
  height: 35.6%;
  width: 39.93%;
  top: 32.2%;
  right: 30.04%;
  bottom: 32.2%;
  left: 30.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.movies1 {
  position: relative;
  font-size: 11.21px;
  letter-spacing: 0.04em;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 38.87px;
  height: 13.46px;
  flex-shrink: 0;
}
.tripMenus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.flightDetails,
.prepareMenu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.prepareMenu {
  flex: 1;
  flex-direction: column;
  gap: 14.95px;
}
.flightDetails {
  align-self: stretch;
  flex-direction: row;
  gap: 26.91px;
}
.homeContents,
.upcomingFlightSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.upcomingFlightSection {
  align-self: stretch;
  align-items: flex-start;
  gap: 14.95px;
}
.homeContents {
  width: 100%;
  padding: 0 59.803165435791016px;
  box-sizing: border-box;
  align-items: center;
  max-width: 1280px;
}
.frameChild {
  position: absolute;
  width: calc(100% + 0.01px);
  top: 0;
  right: -0.01px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 396.2px;
  object-fit: cover;
}
.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
  font-family: var(--font-roboto);
  text-align: center;
}
.formTitleSubtext {
  font-size: 13.46px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-cornflowerblue-200);
}
.formTitle {
  font-size: 22.43px;
  color: #434343;
}
.formHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5.23px;
}
.fillInYour {
  align-self: stretch;
  position: relative;
  font-size: 13.46px;
  line-height: 25.42px;
  font-family: var(--font-roboto);
  color: #576074;
  text-align: left;
}
.formText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input1 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.48px;
}
.button2 {
  position: relative;
  font-size: 11.21px;
  letter-spacing: 0.34px;
  line-height: 19.44px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: left;
}
.button1,
.unstyledbutton {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5.980316638946533px 16.445871353149414px;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange);
  border-radius: 2.99px;
  width: 122.6px;
  height: 41.86px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.button1:hover {
  background-color: #99600a;
}
.form,
.shareYourTravelsForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  border-radius: 8.97px;
  background-color: var(--primary-contrast);
  box-shadow: 0 0 17.94px rgba(0, 0, 0, 0.03);
  border: 0.7px solid var(--color-whitesmoke);
  padding: 20.931108474731445px 22.426189422607422px;
  align-items: flex-start;
  gap: 12.71px;
}
.shareYourTravelsForm {
  position: relative !important;
  top: 38.87px;
  left: auto !important;
  width: 410.4px;
  padding: 14.950791358947754px;
  box-sizing: border-box;
  align-items: center;
  gap: 22.43px;
  margin-left: auto;
  margin-right: auto;
}
.fickleFlightIs,
.frameDiv {
  align-self: stretch;
  position: relative;
}
.frameDiv {
  background-color: #f3f7fb;
  height: 395.45px;
  overflow: hidden;
  flex-shrink: 0;
}
.fickleFlightIs {
  font-size: 13.46px;
  line-height: 20.18px;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: left;
}
.socialIcons {
  position: relative;
  width: 97.18px;
  height: 22.43px;
}
.fickleflightBio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.47px;
  margin-bottom: 40px !important;
}
.footerChild {
  position: relative;
  border-right: 0.7px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 0.75px;
  height: 118.02px;
}
.aboutUs {
  text-decoration: none;
  top: 35.7px;
  font-size: 11.96px;
  width: 101.42px;
  height: 14.2px;
}
.aboutUs,
.careers,
.company1,
.howWeWork,
.news {
  position: absolute;
  left: 0;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: left;
  display: inline-block;
}
.company1 {
  top: 0;
  font-size: 14.95px;
  line-height: 20.18px;
  font-weight: 500;
  width: 130.61px;
  height: 20.18px;
}
.careers,
.howWeWork,
.news {
  top: 58.87px;
  font-size: 11.96px;
  width: 63px;
  height: 14.2px;
}
.careers,
.howWeWork {
  top: 82.05px;
  width: 86.05px;
}
.howWeWork {
  top: 105.22px;
  width: 147.51px;
}
.company {
  position: relative;
  width: 147.51px;
  height: 119.43px;
}
.account {
  position: absolute;
  top: 35.7px;
  left: 0;
  font-size: 11.96px;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: left;
  display: inline-block;
  width: 81.95px;
  height: 14.2px;
}
.support1 {
  top: 0;
  font-size: 14.95px;
  line-height: 20.18px;
  font-weight: 500;
  width: 98.34px;
  height: 20.18px;
}
.faq,
.support1,
.supportCenter {
  position: absolute;
  left: 0;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: left;
  display: inline-block;
}
.supportCenter {
  top: 58.87px;
  font-size: 11.96px;
  width: 147.51px;
  height: 14.2px;
}
.faq {
  top: 82.05px;
  width: 39.61px;
}
.accessibility,
.covidAdvisory,
.faq {
  font-size: 11.96px;
  height: 14.2px;
}
.accessibility {
  position: absolute;
  top: 105.22px;
  left: 0;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: left;
  display: inline-block;
  width: 122.93px;
}
.covidAdvisory {
  top: 35.7px;
  width: 129.23px;
}
.airlineFees,
.covidAdvisory,
.more1,
.tips {
  position: absolute;
  left: 0;
  font-family: var(--font-roboto);
  color: var(--primary-contrast);
  text-align: left;
  display: inline-block;
}
.more1 {
  top: 0;
  font-size: 14.95px;
  line-height: 20.18px;
  font-weight: 500;
  width: 57.3px;
  height: 20.18px;
}
.airlineFees,
.tips {
  top: 58.87px;
  font-size: 11.96px;
  width: 101.19px;
  height: 14.2px;
}
.tips {
  top: 82.05px;
  width: 37.79px;
}
.more {
  position: relative;
  width: 147.51px;
  height: 119.43px;
}
.footer,
.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footerLinks {
  flex: 1;
  justify-content: space-between;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  padding: 24.668806076049805px 62.7933235168457px;
  justify-content: flex-start;
  gap: 32.89px;
}
.footerSection,
.homepage {
  flex-direction: column;
  justify-content: flex-start;
}
.footerSection {
  align-self: stretch;
  display: none;
  align-items: flex-start;
}
.homepage {
  position: absolute;
  top: 53.25px;
  left: 56px;
  border-radius: 16px;
  background-color: var(--primary-contrast);
  width: 1076.45px;
  height: 850.71px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 51.58px;
}
.homepage:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
.feijCompany {
  position: absolute;
  top: 495px;
  left: 1180px;
  font-size: 40px;
  font-family: var(--font-inter);
}
.coverFrame {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 960px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: var(--primary-contrast);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1440px) {
  .topHeader {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .flightMainContainer {
    width: 520px;
  }
  .footer {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .navigationMenu {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .topHeader {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .inputsRow {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .searchFlightsButton {
    margin-right: auto;
  }
  .buttonGroup {
    width: 100%;
    text-align: left;
  }
  .searchForm {
    flex-direction: column;
  }
  .searchContainer {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .horizontalLine {
    width: 100%;
  }
  .flightMainContainer {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  .lineSeparator {
    display: none;
  }
  .prepareMenu {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .flightDetails {
    flex-direction: column;
  }
  .upcomingFlightSection {
    display: block;
  }
  .homeContents {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .shareYourTravelsForm {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
  }
  .fickleflightBio {
    flex: unset;
    align-self: stretch;
  }
  .footerChild {
    display: none;
  }
  .footerLinks {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .navigationRight {
    display: flex;
  }
  .letsExplore {
    font-size: 42px;
    line-height: 48px;
  }
  .inputGroup {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputsRow {
    flex-direction: column;
  }
  .searchFlightsButton {
    width: 100% !important;
  }
  .hotel {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
  }
  .tripMenus {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -28px;
    margin-right: -28px;
  }
  .button1 {
    width: 100%;
  }
  .button1:hover {
    background-color: #9e6104;
  }
  .shareYourTravelsForm {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company {
    margin-bottom: 40px !important;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footer {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .homepage {
    width: 100%;
  }
  .homepage:hover {
    background-color: var(--color-orange);
  }
}
